<!DOCTYPE html>
<html>
  <head>
    <title>SUDOTRIS</title>
    <meta charset="utf-8">
    <link href="../../../../../SudotrisApi/src/main/webapp/WEB-INF/views/css/main.css" rel="stylesheet"/>
  </head>
<body onKeyDown="moveCube(event);">
  <h1>SUDOTRIS</h1>
  <span id="test"></span>
  <div id="container"></div>

  <script src="../../../../../SudotrisApi/src/main/webapp/WEB-INF/views/js/three.min.js"></script>
  <script src="../../../../../SudotrisApi/src/main/webapp/WEB-INF/views/js/index.js"></script>
  <script src="js/three.min.js"></script>
</body>
</html>